<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.w3.org/ns/widgets"
    id="nat-wechat"
    version="0.1.4">
    <name>nat-wechat</name>
    <description>Nat.js module for weex: Wechat (Share, Auth, Pay)</description>
    <license>MIT</license>
    <keywords>weex,plugin,nat,natjs,wechat,pay</keywords>
    <repo>https://github.com/natjs/weex-nat-wechat.git</repo>
    <issue>https://github.com/natjs/weex-nat-wechat/issues</issue>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="WeexpluginConfig.xml" parent="/*">
            <feature name="WeexNatWechat">
                <param name="category" value="module" />
                <param name="ios-package" value="WeexNatWechat" />
                <param name="api" value="nat/wechat" />
            </feature>
        </config-file>
         
        <header-file src="ios/WeexNatWechat.h"/>
        <source-file src="ios/WeexNatWechat.m"/>
         
        <framework src="NatWechat" type="podspec" spec="0.0.2" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="Wechat">
                <param name="category" value="module" />
                <param name="android-package" value="com.instapp.nat.weex.Wechat" />
                <param name="api" value="nat/wechat" />
            </feature>
        </config-file>

        <source-file src="android/Wechat.java" target-dir="src/com/instapp/nat/weex/wechat" />

        <framework src="com.instapp.nat:wechat:1.0.1" />
    </platform>
     
</plugin>
